* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    list-style-type: none;
}

a {
    text-decoration: none;
}

section {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

section img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
}

.next {
    padding: 300px;
    background: #161414;
}

.next.show {
    background: url(../images/hero.jpg) 50% 50% no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.next p {
    font-size: 20px;
    text-align: justify;
    line-height: 1.5;
    color: #706f6f;
}
